.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: linear-gradient(180deg, #380c1c, black);
  color: white;
}

.features p code {
  background-color: #ffffff1a;
}

.features .tabs {
  color: white
}

.colorTabs {
  color: white
}

.tabsAlign>* {
  align-items: center;
  text-align: center;
}

.tabs {
  min-width: 120px;
}

.separator {
  position: relative;
  padding-top: 30px;
  padding-bottom: 100px;
}

.separator:before {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 10vw;
  left: 0;
  max-height: 160px;
  position: absolute;
  top: -1px;
  width: 100%;
  background-image: url('/img/shape-top-down-left.svg');
}

.separator>div {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
  background-color: var(--ifm-card-background-color);
  padding: var(--ifm-leading);
}
