/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: burlywood;
   background-image:
         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc3f47' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b3373e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c8364e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b02f44' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c22f55' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ab294b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23bb285c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a52351' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b32362' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239f1f57' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa2068' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23971c5d' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"),
         url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 450' width='900' height='450' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cg stroke-width='1' stroke-linejoin='bevel'%3E%3Cpath d='M634 231L900 0L553 0Z' fill='%23ff522d' stroke='%23ff522d'%3E%3C/path%3E%3Cpath d='M634 231L900 213L900 0Z' fill='%23ff5d2c' stroke='%23ff5d2c'%3E%3C/path%3E%3Cpath d='M634 231L900 450L900 213Z' fill='%23ff5d2c' stroke='%23ff5d2c'%3E%3C/path%3E%3Cpath d='M250 207L515 450L634 231Z' fill='%23ff8331' stroke='%23ff8331'%3E%3C/path%3E%3Cpath d='M634 231L515 450L900 450Z' fill='%23ff9b3c' stroke='%23ff9b3c'%3E%3C/path%3E%3Cpath d='M553 0L250 207L634 231Z' fill='%23ff7a2f' stroke='%23ff7a2f'%3E%3C/path%3E%3Cpath d='M256 0L250 207L553 0Z' fill='%23ff522d' stroke='%23ff522d'%3E%3C/path%3E%3Cpath d='M250 207L291 450L515 450Z' fill='%23ff9338' stroke='%23ff9338'%3E%3C/path%3E%3Cpath d='M256 0L0 0L250 207Z' fill='%23ff7a2f' stroke='%23ff7a2f'%3E%3C/path%3E%3Cpath d='M250 207L0 270L291 450Z' fill='%23ff9338' stroke='%23ff9338'%3E%3C/path%3E%3Cpath d='M0 0L0 270L250 207Z' fill='%23feaa46' stroke='%23feaa46'%3E%3C/path%3E%3Cpath d='M0 270L0 450L291 450Z' fill='%23ff682d' stroke='%23ff682d'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
         background-color: rgba(0, 0, 0, 0.103);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: bottom center, 50%, 50%;
      
}

.container{
  padding: 4rem 0;
  backdrop-filter: brightness(30%);
  width: 100%;
}

.title{
  background-color: blue;
}
[data-theme='dark'] .container{
  backdrop-filter: brightness(30%);
}

[data-theme='dark'] .hero__title,[data-theme='dark'] .hero__subtitle{
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.install {
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
}

.finalSeparator{
  fill: var(--ifm-footer-background-color);
  transform: rotate(180deg);
  position: relative;
  bottom: -8px;
}

.footer{
  --ifm-footer-background-color: #303846;
}

@media screen and (max-width: 996px){
  .heroBanner {
      padding: 0rem;
  }
}