/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #855a2e;
  --ifm-color-primary-dark: #784929;
  --ifm-color-primary-darker: #714327;
  --ifm-color-primary-darkest: #5d3720;
  --ifm-color-primary-light: #925133;
  --ifm-color-primary-lighter: #995a35;
  --ifm-color-primary-lightest: #ad713c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c29d25;
  --ifm-color-primary-dark: #af7b21;
  --ifm-color-primary-darker: #a54c1f;
  --ifm-color-primary-darkest: #884a1a;
  --ifm-color-primary-light: #d57c29;
  --ifm-color-primary-lighter: #d87732;
  --ifm-color-primary-lightest: #dd7c4f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.markdown > h1:first-child {
  font-size: 2rem !important;
  margin-top: 20px !important;
  margin-bottom: 60px !important;
}
.header-badges {
  display: block;
  margin-top: -50px !important;
  margin-bottom: 15px;
  min-height: 35px;
  /*pragmatism over perfection*/
}
.header-badges .header-badge {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 20px;
  background-color: #efefef;
  padding: 3px 20px 3px 3px;
  height: 31px;
  margin-right: 6px;
  margin-bottom: 5px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.header-badges .header-badge:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  opacity: 1;
}
.header-badges .header-badge:hover .badge-avatar {
  opacity: 1;
}
.header-badges .header-badge:hover .badge-label {
  color: #000;
}
.header-badges .header-badge .badge-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: all;
  transition-duration: 0.2s;
  font-size: 13px;
  line-height: 24px;
  color: #333;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  max-width: calc(100% - 33px);
}
.header-badges .header-badge .badge-avatar {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 12px;
  font-size: 12px;
  vertical-align: top;
  line-height: 23px;
  padding-left: 8px;
  opacity: 0.7;
}
.header-badges .header-badge .emoji-avatar {
  margin-right: 8px !important;
}
html[data-theme='dark'] .header-badge {
  background-color: #333;
}
html[data-theme='dark'] .header-badge:hover {
  background-color: #444;
}
html[data-theme='dark'] .header-badge:hover .badge-label {
  color: #d6d6d6;
}
html[data-theme='dark'] .header-badge .badge-label {
  color: #ddd;
}